*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  margin: 0;
}

.container, .loading-container {
  background: -webkit-gradient(linear, left top, right top, from(#74ebd5), to(#9face6));
  background: linear-gradient(90deg, #74ebd5 0%, #9face6 100%);
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

.quiz-container {
  width: 500px;
  background-color: #fff;
  border-radius: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px;
}

.question-text {
  padding: 25px;
  text-align: center;
  font-size: 1.6rem;
  margin: 0;
}

.anwsers-container {
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.anwser, .category, .start-game-btn, .reload-btn {
  text-align: center;
  padding: 25px;
  width: 450px;
  font-size: 1.2rem;
  border-radius: 25px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  border: 1px solid #222;
  margin: 5px;
}
.anwser:hover, .category:hover, .start-game-btn:hover, .reload-btn:hover {
  background-color: #ddd;
}

.question-ended {
  width: 100vw;
  height: 100vh;
  background: -webkit-gradient(linear, left top, right top, from(#74ebd5), to(#9face6));
  background: linear-gradient(90deg, #74ebd5 0%, #9face6 100%);
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: none;
}

.reload-btn {
  background-color: #fff;
}

.start-game {
  width: 100vw;
  height: 100vh;
  background: -webkit-gradient(linear, left top, right top, from(#74ebd5), to(#9face6));
  background: linear-gradient(90deg, #74ebd5 0%, #9face6 100%);
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: flex;
  display: none;
}

.start-game-btn {
  background-color: #fff;
}

.category-container {
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 1000px;
}

.category {
  background-color: #fff;
  width: 300px;
  font-size: 1rem;
}

.loading-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.loading-container h1 {
  font-size: 3rem;
}/*# sourceMappingURL=style.css.map */